header {
    box-shadow: 0 0 10px var(--lines-color);
    background-color: var(--bg-default);
}

header nav {
    padding: 15px 0;
}

header nav .logo a {
    text-transform: capitalize;
    color: var(--brand-primary);
    font-weight: bold;
}

@media(max-width:767px) {
    header nav .logo a {
        font-size: 14px;
    }

    .buttonsNav button p{
        display: none;
    }

    header ion-icon {
        text-align: center;
    }
}