main {
    background-color: var(--bg-body);
    padding: 20px 0;
}

main .search {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px var(--lines-color);
    border-radius: 5px;
}

main .search input {
    width: 80%;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 8px 8px 30px;
    background-color: var(--bg-default);
    border: none;
    /* border: 1px solid var(--lines-color); */
    border-radius: 5px 0 0 5px;
    color: #929292;
    height: 45px;
    outline: none;
}

main .search ion-icon {
    position: absolute;
    left: 10px;
    font-size: 14px;
    line-height: 45px;
    color: var(--body-text);
}

main .select {
    width: 11%;
    background-color: var(--bg-default);
    font-size: 10px;
    border-left: 1px solid var(--lines-color);
    height: 45px;
    padding: 5px 20px 5px 10px;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 5px;
}
main .select label{
    color: var(--body-text);
    display: block;
    padding-bottom: 2px;
    width: fit-content;
} 
main .selcetBottom select{
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--body-text);
    margin-left: -3px;
    font-family: 'Nunito Sans', sans-serif;
}
select{
    outline: none;
}
select option{
    color: var(--body-text);
    background-color: var(--bg-default);
}

@media(max-width:767px) {
    main .search {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    main .search input {
        width: 100%;
        font-family: 'Nunito Sans', sans-serif;
        border-radius: 5px 5px 0px 0px;
    }

    main .search ion-icon {
        top: 16px;
    }

    main .select {
        width: 50%;
        margin-right: 0px;
        margin-top: -1px;
        border-top: 1px solid var(--lines-color);
    }

    main .select.sort {
        border-radius: 0px 0px 0px 5px;
        margin-left: 0px;
        border-left: none;
    }
    main .select.filter {
        border-radius: 0px 0px 5px 0px;
        margin-left: 0px;
        border-left: 1px solid var(--lines-color);
    }
}

@media(min-width:768px) and (max-width:922px) {
    main .search {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    main .search input {
        width: 100%;
        font-family: 'Nunito Sans', sans-serif;
        border-radius: 5px 5px 0px 0px;
    }
    main .search ion-icon {
        top: 15px;
    }
    main .select {
        width: 50%;
        margin-right: 0px;
        margin-top: -1px;
        border-top: 1px solid var(--lines-color);
    }
    main .select.sort {
        border-radius: 0px 0px 0px 5px;
        margin-left: 0px;
        border-left: none;
    }
    main .select.sort {
        border-radius: 0px 0px 0px 5px;
        margin-left: 0px;
        border-left: none;
    }
    main .select.filter {
        border-radius: 0px 0px 5px 0px;
        margin-left: 0px;
        border-left: 1px solid var(--lines-color);
    }
}