@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500;6..12,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg-default: #FFF;
    --bg-body: #F0F9FF;
    --lines-color: #DDD;
    --body-text: #333;
    --heart-color: #DC143C;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

/* .container {
    width: 90%;
    margin: auto;
} */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.capitalize {
    text-transform: capitalize;
}
